<h1>liquid-fire-reveal</h1>

<p>Below are examples of each of the liquid-fire-reveal transitions.
For more information, check out the
<a href="https://github.com/kpfefferle/liquid-fire-reveal">GitHub repo</a>.</p>

<div id="examples">

  <div class="example">
    <div class="buttons">
      <button {{action 'toggleRevealDown'}}>Click to Run Transition</button>
    </div>
    {{#liquid-if revealDownRed class="reveal-down"}}
      <div class="content red">revealDown<br>example</div>
    {{else}}
      <div class="content blue">revealDown<br>example</div>
    {{/liquid-if}}
  </div>

  <div class="example">
    <div class="buttons">
      <button {{action 'toggleRevealUp'}}>Click to Run Transition</button>
    </div>
    {{#liquid-if revealUpRed class="reveal-up"}}
      <div class="content red">revealUp<br>example</div>
    {{else}}
      <div class="content blue">revealUp<br>example</div>
    {{/liquid-if}}
  </div>

  <div class="example">
    <div class="buttons">
      <button {{action 'toggleRevealLeft'}}>Click to Run Transition</button>
    </div>
    {{#liquid-if revealLeftRed class="reveal-left"}}
      <div class="content red">revealLeft<br>example</div>
    {{else}}
      <div class="content blue">revealLeft<br>example</div>
    {{/liquid-if}}
  </div>

  <div class="example">
    <div class="buttons">
      <button {{action 'toggleRevealRight'}}>Click to Run Transition</button>
    </div>
    {{#liquid-if revealRightRed class="reveal-right"}}
      <div class="content red">hideRight<br>example</div>
    {{else}}
      <div class="content blue">hideRight<br>example</div>
    {{/liquid-if}}
  </div>

  <div class="example">
    <div class="buttons">
      <button {{action 'toggleHideDown'}}>Click to Run Transition</button>
    </div>
    {{#liquid-if hideDownRed class="hide-down"}}
      <div class="content red">hideDown<br>example</div>
    {{else}}
      <div class="content blue">hideDown<br>example</div>
    {{/liquid-if}}
  </div>

  <div class="example">
    <div class="buttons">
      <button {{action 'toggleHideUp'}}>Click to Run Transition</button>
    </div>
    {{#liquid-if hideUpRed class="hide-up"}}
      <div class="content red">hideUp<br>example</div>
    {{else}}
      <div class="content blue">hideUp<br>example</div>
    {{/liquid-if}}
  </div>

  <div class="example">
    <div class="buttons">
      <button {{action 'toggleHideLeft'}}>Click to Run Transition</button>
    </div>
    {{#liquid-if hideLeftRed class="hide-left"}}
      <div class="content red">hideLeft<br>example</div>
    {{else}}
      <div class="content blue">hideLeft<br>example</div>
    {{/liquid-if}}
  </div>

  <div class="example">
    <div class="buttons">
      <button {{action 'toggleHideRight'}}>Click to Run Transition</button>
    </div>
    {{#liquid-if hideRightRed class="hide-right"}}
      <div class="content red">hideRight<br>example</div>
    {{else}}
      <div class="content blue">hideRight<br>example</div>
    {{/liquid-if}}
  </div>
</div>
